
**/.idea
**/.settings
**/target

**/.classpath
**/.project
*.log
target/
.idea/
**/*.log
**/sap.log*
**/.DS_Store

**/*.iml
**/sap.log
**/target
**/bin

### MAVEN ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

**/.DS_Store
**/*.iml
target/
.idea/

### MAVEN ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
